*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

.cardText {
  text-align: justify !important;
}
.cardBody {
  text-align: center;
}


.NavbarBrand-text {
  font-family: 'Oswald', sans-serif;
}

.landing-cover {
 min-width: 25vh;
 min-height: 25vh;
}

.paraFont{
 font-family: 'Roboto', sans-serif;
}

.carousel-item {
  border-radius: 50px;
}

#nav-bar {
  padding-top: 25px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  }

.carousel-control {
border-radius: 50px !important; 
}